* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(20, 20, 20);
  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  left: 0;
  right: 0;
  height: 150px;
  background-image: url(./header.jpg);
  background-size: cover;
  background-position: center;
  z-index: 1;
}

h1 {
  font-size: 4rem;
  padding: 20px 0 0 20px;
}

h3 {
  color: #000;
  font-size: 8rem;
  text-align: center;
}

main {
  padding-top: 170px;
}

footer {
  background-color: #fff;
  height: 50px;
  font-size: 2rem;
  /* text-align: center; */
  padding: 10px;
  margin-top: 40px;
  font-weight: 600;
}

footer a {
  position: absolute;
  right: 40px;
  color: #000;
  text-decoration: none;
}

nav {
  padding: 20px 20px 0 0;
  font-size: 3rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
}

nav a:hover {
  color: #000;
  background-color: #fff;
}

.flexBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flexItem {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  margin: 8px;
}

.box1 {
  background-color: #570202;
}
.box2 {
  background-color: #021366;
}
.box3 {
  background-color: #5c2c02;
}
.box4 {
  background-color: #036903ec;
}

.contentSection {
  font-size: 2em;
  padding: 40px 10px 0px 10px;
}

.contentSection p {
  padding-bottom: 18px;
}
